<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Crear Tipo de Alimento</div>

                    <div class="card-body">
                        <form @submit.prevent="crear_tipo_alimento()">
                            <label>Descripcion</label>
                            <input v-model="descripcion" class="ml-2 form-control" type="text">
                            <label class="ml-2">Código</label>
                            <input v-model="codigo" class="ml-2 form-control" type="number">
                            <button  class="float-right mt-2 btn btn-primary" type="submit">Crear</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
       data(){
           return {
               descripcion : "",
               codigo : ""
           }
       },
       methods: {
           crear_tipo_alimento(){
               const params = {
                   descripcion: this.descripcion,
                   codigo: this.codigo
               }
               this.descripcion = ""
               this.codigo = ""
               axios.post("/tipo_alimentos", params).then(res => {
                //    this.notas.push(res.data)
               })
           }
       }
    }
</script>
