<template>
  
    <div class="container">
        <h2>Tipos de Alimentos</h2>
        <div class="row justify-content-center">
            <div class="col-md-3 mt-5" v-for="(tipo_alimento,index) in tipo_alimentos" :key="index">
                <div class="card">
                    <div class="card-header">
                        <h3>
                        {{tipo_alimento.descripcion}}<br>
                        </h3>
                        <span class="badge badge-primary mr-2">Codigo: {{tipo_alimento.codigo}}</span>
                    </div>
                    <div class="card-body">
                        <button @click="agregar_alimento(tipo_alimento.id)" class="btn btn-primary btn-sm">+</button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <a class="btn btn-primary  float-right" href="/tipo_alimento/crear">Agregar</a>
    </div>
</template>

<script>
export default {
    data(){
        return{
            tipo_alimentos:[]
        }
    },
    created() {
        axios.get("/tipo_alimentos").then(res => {
            console.log(res);
            this.tipo_alimentos = res.data
        });
    },
    methods:{
        agregar_alimento(id_tipo_alimento){
            window.location.replace(`/alimentos/create?id_tipo_alimento=${id_tipo_alimento}`);
        }
    }
}
</script>

<style>

</style>